<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Devexa\FormProtection\Api\RiskScorerInterface"
                type="Devexa\FormProtection\Model\RiskScorer"/>
    <preference for="Devexa\FormProtection\Api\RuleEngineInterface"
                type="Devexa\FormProtection\Model\RuleEngine"/>
</config>
