<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devexa" translate="title" sortOrder="900">
            <label>Devexa</label>
        </tab>
        <section id="devexa_ai_recommendation" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>AI Recommendations</label>
            <tab>devexa</tab>
            <resource>Devexa_AiRecommendation::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment><![CDATA[API Key and platform URL are configured in <strong>Devexa > License & Platform</strong>.]]></comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable AI Recommendations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="tracking" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Event Tracking</label>
                <field id="track_product_views" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Product Views</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="track_add_to_cart" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Add to Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="track_purchases" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Purchases</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="track_search" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Search Queries</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="track_category_views" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Category Views</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="widgets" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Widget Settings</label>
                <comment><![CDATA[Algorithm and Max Products are configured on the <strong>Devexa Platform</strong> (ai.devexa.ro > Tenant > Settings).]]></comment>
                <field id="show_on_product_page" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_page_title" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Page Widget Title</label>
                    <depends>
                        <field id="show_on_product_page">1</field>
                    </depends>
                </field>
                <field id="show_on_cart_page" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cart_page_title" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cart Page Widget Title</label>
                    <depends>
                        <field id="show_on_cart_page">1</field>
                    </depends>
                </field>
                <field id="show_on_homepage" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Homepage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="homepage_title" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Widget Title</label>
                    <depends>
                        <field id="show_on_homepage">1</field>
                    </depends>
                </field>
                <field id="show_on_category_page" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Category Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_page_title" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Page Widget Title</label>
                    <depends>
                        <field id="show_on_category_page">1</field>
                    </depends>
                </field>
                <field id="fbt_title" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frequently Bought Together Title</label>
                    <comment>Title for the "Frequently Bought Together" widget on product pages.</comment>
                </field>
                <field id="similar_title" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Similar Products Title</label>
                    <comment>Title for the "Similar Products" widget on product pages.</comment>
                </field>
                <field id="upsell_title" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>You May Also Like Title</label>
                    <comment>Title for the "You May Also Like" (upsell) widget on homepage and category pages.</comment>
                </field>
                <field id="crosssell_title" translate="label comment" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customers Also Bought Title</label>
                    <comment>Title for the "Customers Also Bought" (crosssell) widget on cart page.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
